%h1
  Thank you for volunteering!

%p 
  We've received your volunteer information and our Ambassador Coordinator
  will be in touch to provide you with more information about reporting
  times and what to expect at the event. 

